.container {
  display: flex;
  height: 100vh; 
}

.main {
  margin-left: 250px; 
  flex: 1; 
  padding: 20px; 
}

.navbar {
  width: 250px; 
  background-color: #f4f4f4; 
  padding: 20px; 
  height: 100%; 
  position: fixed; 
  left: 0; 
  top: 0;
}